.banner_home{
  width: 100%;
  height: 100%;

}
  .banner_home img{
    border-radius: 1.25rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .hover_menu:hover{
    color:#ff5d18 ;
    transition: 0.3s;
  }
  .shadow_img{
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.7); 
}
.img-avt img{
  border-radius: 100%;
}
.text_input {
  font-size: 15px;
}
@media (max-width: 375px) {
  .text_input {
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  .text_input {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .taiXe_money p{
   font-size:11px;
  }
}
/* .img_contain{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img_contain img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */
