body{
    margin: 0 auto;
}
:root {
    --background-color: #ff5d18;
    --color:#ff5d18;
  }
  .bg_all{
    background: var(--background-color);
  }
  .text_color{
    color: var(--color);
  }
  .bg_close {
    background: rgba(0, 0, 0, 0.2);
  }
  img{
    width: 100%;
    height: auto;
  }
  .c-img {
    position: relative;
    display: block;
  }
  .c-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .border_all {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  .img-contain img{
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .border_img img{
    border-radius: 100%;
  }
  @media (max-width: 374px) {
    .text_service{
     font-size:0.75rem;
    }
  }
  .banner_home img{
    border-radius: 1.25rem;
  }
  .hover_menu:hover{
    color:#ff5d18 ;
    transition: 0.3s;
  }